#container{
    width: 960px;
    height: 700px;
    background-color: bisque;
    margin: 0 auto 0 auto;
    padding-top: 10px;
}
header#banner{
    width: 940px;
    height: 100px;
    background-color: black;
    margin: 0 10px;
}
nav{
    width: 150px;
    height: 450px;
    margin: 10px;
    background-color: darkcyan;
    float: left;
}
section{
    width: 600px;
    height: 450px;
    margin: 10px;
    background-color: darkblue;
    float: left;
    padding-top: 10px;
}
aside{
    width: 150px;
    height: 450px;
    margin: 10px;
    background-color:darkgoldenrod;
    float: left;
}
footer#sitesonu{
    width: 940px;
    height: 80px;
    margin: 10px;
    background-color: darkmagenta;
    float: left;

}
header#makale{
    width: 450px;
    margin: 0 auto;
    height: 50px;
    background-color: darkslategrey;
}
article.makale{
    width: 450px;
    height: 200px;
    background-color: darkgray;
    margin: 10px auto;

}
footer#makalesonu{
    width: 450;
    height: 100;
    background-color: rgb(11, 241, 107);
    margin: 10px auto;
}